{% extends 'layout.jinja2' %}

<head>
  <title>
    Deform Demo Site
  </title>
  <!-- Meta Tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- CSS -->
  <link rel="stylesheet" href="C:/ftirdb/ftirdb/static/form.css" type="text/css" />
  <!-- JavaScript -->
  <script type="text/javascript"
          src="C:/ftirdb/ftirdb/static/jquery-2.0.3.min.js"></script>
  <script type="text/javascript"
          src="C:/ftirdb/ftirdb/static/form.js"></script>
 <script type="text/javascript"
          src="C:/ftirdb/ftirdb/static/deform.js"></script>

  
</head>



{% block subtitle %} - {% endblock subtitle %}

{% block content %}


<div><p>{{ experimentForm | safe}}</p></div>
<div><p>{{ experimentForm }}</p></div>

<select class="js-example-basic-single" name="state">
  <option value="AL">Alabama</option>
  <option value="AL">Alabama</option>

  <option value="AL">Alabama</option>  ...
  <option value="WY">Wyoming</option>
</select>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Form control: select</h2>
  <p>The form below contains two dropdown menus (select lists):</p>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <br>
      <label for="sel2">Mutiple select list (hold shift to select more than one):</label>
      <select multiple class="form-control" id="sel2" name="sellist2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>

<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
</form>  
</div>





<p>
<a href="{{ edit_url }}">
    Edit this page
</a>
</p>
<p>
    Viewing <strong></strong>, created by <strong></strong>.
</p>



<p>You can return to the
<a href="{{request.route_url('view_page', pagename='FrontPage')}}">FrontPage</a>.
</p>
{% endblock content %}